.addContainer {
  margin: 12px 0;
  display: flex;
  width: 100%;
}
.addInput {
  outline: none;
  height: 2rem;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  flex: 2;
  background: #555;
  color: #eee;
  font-size: 18px;
}
.addBtnContainer {
  flex: 1;
  margin-left: 10px;
}
